$lightText: rgba(255, 255, 255, 0.5);
$darkBackGround: rgba(255, 255, 255, 0.10);
$br5: 5px;
$br10: 10px;
$g10: 10px;
$g20: 20px;
$g30: 30px;
$p10: 10px;
$p20: 20px;

#allNftPage {
    margin-top: 100px;
    width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: row;
    gap: $g20;
    padding: $p20;

    .sideBar {
        background-color: $darkBackGround;
        min-height: 100%;
        width: 20%;
        border-radius: $br10;
        padding-bottom: $p10;
        display: flex;
        flex-direction: column;
        gap: $g30;


        .topSection {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $g20;
            padding: $p20;
        }

        .sideOptions {
            display: flex;
            flex-direction: column;
            gap: $g20;


            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom: solid 1px $lightText;
                padding: 0px 10px;

                h6 {
                    padding: $p10;
                }
            }

        }
        .sideOptions:nth-child(6) {
            border: none;
        }
    }

    .content {
        border-radius: $br10;
        width: 80%;

        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $p20;

            .results {
                color: rgba(255, 255, 255, 0.80);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .sort {
                display: flex;
                gap: $g10;

                .allBtn {
                    background-color: inherit;
                    display: flex;
                    width: 178px;
                    height: 42px;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    flex-shrink: 0;
                    border-radius: $br5;
                    border: 0.5px solid #FFF;
                    color: white;
                }
                
                .allBtn:hover {
                    background-color: $darkBackGround;
                }

                select {
                    background-color: inherit;
                    display: flex;
                    width: 178px;
                    height: 42px;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    flex-shrink: 0;
                    border-radius: 5px;
                    border: 0.5px solid #FFF;
                }
            }
        }
        .cards {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}