
.about,
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
}
.backgroundImage {
  /* background: linear-gradient(113.49deg, #984d38, #181e41 63.29%); */
  width: 1440px;
  height: 2468px;
}
.about {
  font-size: var(--font-size-xl);
  color: var(--color-white);
  text-align: center;
}
.faq,
.product,
.resource,
.termCondition {
  position: absolute;
  top: 50px;
  left: 0;
  font-weight: 500;
}
.faq,
.resource,
.termCondition {
  top: 93px;
}
.faq,
.termCondition {
  top: 136px;
}
.faq {
  top: 179px;
}
.aboutParent,
.companyParent {
  position: absolute;
  top: 0;
  left: 419px;
  width: 133px;
  height: 202px;
}
.companyParent {
  left: 683px;
  width: 119px;
}
.loremIpsumDolor {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25px;
  font-weight: 500;
  display: inline-block;
  width: 288px;
}
.loremIpsumDolorSitAmetCoWrapper {
  position: absolute;
  top: 50px;
  left: 0;
  width: 288px;
  height: 100px;
}
.youtubeIcon {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.youtubeParent {
  position: absolute;
  top: 136px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.contactParent {
  position: absolute;
  top: 0;
  left: 933px;
  width: 264px;
  height: 161px;
}
.footer1 {
  top: 0;
  left: 0;
  width: 1197px;
  height: 202px;
}
.footer,
.footer1,
.logo {
  position: absolute;
}
.logo {
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-slateblue);
  text-align: center;
}
.footer {
  top: 2226px;
  left: 122px;
  width: 1197px;
  height: 202px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.coverImageIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 1040px;
  height: 355px;
  object-fit: cover;
}
.vectorIcon {
  position: relative;
  width: 14px;
  height: 14px;
}
.editCoverImage,
.editProfile {
  position: absolute;
  top: 287px;
  left: 971px;
  border-radius: var(--br-131xl);
  background-color: var(--color-slateblue);
  width: 49px;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.editProfile {
  top: 377px;
  left: 876px;
  width: 164px;
  height: 45px;
  gap: var(--gap-3xs);
}
.profilePicIcon {
  position: absolute;
  top: 282px;
  left: 457px;
  width: 126px;
  height: 127px;
}
.farhanKhan {
  position: absolute;
  top: 0;
  left: 371px;
  font-weight: 600;
}
.farhan {
  position: absolute;
  top: 34px;
  left: 417px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}
.loremIpsumDolor1,
.text {
  position: absolute;
  width: 896px;
}
.loremIpsumDolor1 {
  top: 65px;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: inline-block;
}
.text {
  top: 427px;
  left: 71px;
  height: 115px;
  font-size: 28px;
}
.banner,
.groupChild {
  position: absolute;
  top: 147px;
  left: 201px;
  width: 1040px;
  height: 542px;
}
.groupChild {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  width: 345px;
  height: 371px;
}
.photos,
.seeAllPhotos {
  position: absolute;
  top: 20px;
  left: 20px;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.seeAllPhotos {
  top: 23px;
  left: 221px;
  font-size: var(--font-size-base);
  color: var(--color-slateblue);
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 371px;
}
.photosSecChild,
.photosSecItem {
  position: absolute;
  top: 65px;
  left: 20px;
  border-radius: var(--br-9xs);
  width: 95px;
  height: 91px;
  object-fit: cover;
}
.photosSecItem {
  top: 166px;
}
.photosSecChild1,
.photosSecChild2,
.photosSecChild3,
.photosSecChild4,
.photosSecInner,
.rectangleIcon {
  position: absolute;
  top: 267px;
  left: 20px;
  border-radius: var(--br-9xs);
  width: 95px;
  height: 91px;
  object-fit: cover;
}
.photosSecChild1,
.photosSecChild2,
.photosSecChild3,
.photosSecChild4,
.rectangleIcon {
  top: 65px;
  left: 125px;
}
.photosSecChild1,
.photosSecChild2,
.photosSecChild3,
.photosSecChild4 {
  top: 166px;
}
.photosSecChild2,
.photosSecChild3,
.photosSecChild4 {
  top: 267px;
}
.photosSecChild3,
.photosSecChild4 {
  top: 65px;
  left: 230px;
}
.photosSecChild4 {
  top: 166px;
}
.photosSec {
  position: absolute;
  top: 771px;
  left: 200px;
  width: 345px;
  height: 371px;
  font-size: var(--font-size-xl);
}
.commentSec2Child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-131xl);
  background-color: var(--color-dimgray-200);
  width: 666px;
  height: 39px;
}
.commentSec2Item,
.writeAComment {
  position: absolute;
  top: 11px;
  left: 48px;
}
.commentSec2Item {
  top: 5px;
  left: 4px;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  object-fit: cover;
}
.vectorIcon2 {
  position: absolute;
  height: 46.15%;
  width: 2.7%;
  top: 28.21%;
  right: 2.25%;
  bottom: 25.64%;
  left: 95.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.feedSec1Child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  object-fit: cover;
}
.farhan1,
.farhanKhan1,
.m {
  position: absolute;
  left: 56px;
}
.farhanKhan1 {
  top: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.farhan1,
.m {
  top: 27px;
  color: var(--color-gray-300);
}
.m {
  top: 2px;
  left: 178px;
}
.loremIpsumDolor2 {
  position: absolute;
  top: 71px;
  left: 0;
  font-weight: 500;
}
.feedSec1Item {
  position: absolute;
  top: 106px;
  left: 0;
  border-radius: var(--br-8xs);
  width: 666px;
  height: 426px;
  object-fit: cover;
}
.vectorIcon3 {
  position: absolute;
  height: 97.32%;
  width: 30.94%;
  top: 0;
  right: 69.06%;
  bottom: 2.68%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.liked,
.vectorParent {
  position: absolute;
  top: 2.58px;
  left: 30.88px;
}
.vectorParent {
  height: 100%;
  width: 35.18%;
  top: 0;
  right: 64.82%;
  bottom: 0;
  left: 0;
}
.youAnd12k {
  position: absolute;
  top: 2px;
  left: 77.94px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.groupContainer {
  position: relative;
  width: 192.94px;
  height: 21.58px;
  color: var(--color-slateblue);
}
.comment {
  position: absolute;
  top: 0;
  left: 30px;
}
.commentParent,
.vectorIcon4 {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon4 {
  height: 100%;
  width: 20.62%;
  right: 79.38%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.commentParent {
  width: 97px;
  height: 20px;
}
.comments {
  position: absolute;
  top: 1px;
  left: 107.06px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.groupDiv {
  position: relative;
  width: 189.06px;
  height: 20px;
}
.share {
  position: absolute;
  top: 1px;
  left: 29px;
}
.shareParent,
.vectorIcon5 {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon5 {
  height: 100%;
  width: 27.94%;
  right: 72.06%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.shareParent {
  width: 68px;
  height: 21px;
}
.shares {
  position: absolute;
  top: 2px;
  left: 78.06px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.groupParent1 {
  position: relative;
  width: 130.06px;
  height: 21px;
}
.groupParent {
  position: absolute;
  top: 555px;
  left: 1.06px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-57xl);
}
.commentSec,
.feedSec1 {
  position: absolute;
  top: 769px;
  left: 575px;
  width: 666px;
  height: 631px;
}
.commentSec {
  top: 592px;
  left: 0;
  height: 39px;
  font-size: var(--font-size-sm);
}
.feedSec2,
.groupItem {
  position: absolute;
  top: 1465px;
  left: 575px;
  width: 666px;
  height: 631px;
}
.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  width: 345px;
  height: 320px;
}
.myGroups {
  position: absolute;
  top: 17px;
  left: 20px;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.myGroupSecInner,
.rectangleGroup {
  position: absolute;
  top: 0;
  left: 0;
  width: 345px;
  height: 320px;
}
.myGroupSecInner {
  font-size: var(--font-size-xl);
}
.view {
  position: relative;
  font-weight: 600;
}
.viewWrapper {
  position: absolute;
  top: 8px;
  left: 211px;
  border-radius: 4.45px;
  background: linear-gradient(214.02deg, #b75cff, #671ae4);
  width: 92px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4.447300910949707px 8.894601821899414px;
  box-sizing: border-box;
}
.photo1Icon {
  top: 0;
  left: 0;
  width: 44.03px;
  height: 44.03px;
  object-fit: cover;
}
.kM,
.photo1Icon,
.zalando {
  position: absolute;
}
.zalando {
  top: 12px;
  left: 55px;
  font-size: var(--font-size-sm);
  text-align: center;
}
.kM {
  top: 13px;
  left: 165px;
  font-weight: 500;
  color: var(--color-gray-300);
}
.frameParent {
  position: absolute;
  top: 91px;
  left: 22px;
  width: 303px;
  height: 44.03px;
  font-family: var(--font-poppins);
}
.viewContainer {
  top: 0;
  left: 156px;
  border-radius: 4.45px;
  background: linear-gradient(214.02deg, #b75cff, #671ae4);
  width: 92px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4.447300910949707px 8.894601821899414px;
  box-sizing: border-box;
}
.kM1,
.viewContainer,
.zara {
  position: absolute;
}
.zara {
  top: 4px;
  left: 0;
  font-size: var(--font-size-sm);
  text-align: center;
}
.kM1 {
  top: 5px;
  left: 110px;
  font-weight: 500;
  color: var(--color-gray-300);
}
.frameContainer,
.frameGroup {
  position: absolute;
  top: 168.03px;
  left: 77px;
  width: 248px;
  height: 28px;
  font-family: var(--font-poppins);
}
.frameContainer {
  top: 237.05px;
}
.seeAllGroups {
  position: absolute;
  top: 291px;
  left: 219px;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  font-weight: 600;
  color: var(--color-slateblue);
}
.photo2Icon,
.photo3Icon {
  position: absolute;
  top: 160px;
  left: 21.5px;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.photo3Icon {
  top: 229px;
  left: 22px;
}
.exclusiveGroups {
  position: relative;
  letter-spacing: 0.01em;
}
.vectorIcon10 {
  position: relative;
  width: 10.6px;
  height: 6.6px;
}
.exclusiveGroupsParent {
  position: absolute;
  top: 15px;
  left: 192px;
  border-radius: var(--br-8xs);
  border: 0.3px solid var(--color-white);
  box-sizing: border-box;
  width: 143px;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
}
.myGroupSec {
  position: absolute;
  top: 1522px;
  left: 200px;
  width: 345px;
  height: 320px;
  font-size: var(--font-size-xs);
}
.groupInner {
  border-radius: 2.42px;
  background-color: var(--color-gray-400);
}
.groupInner,
.rectangleWrapper,
.vectorIcon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 36.33px;
  height: 33.91px;
}
.vectorIcon11 {
  height: 6.26%;
  width: 47.83%;
  top: 46.87%;
  right: 27.08%;
  bottom: 46.87%;
  left: 25.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent6 {
  position: relative;
  width: 36.33px;
  height: 33.91px;
}
.ellipseDiv,
.groupChild1,
.rectangleDiv {
  position: absolute;
  top: 2.54px;
  left: 0;
  border-radius: 178.86px;
  background-color: var(--color-dimgray-100);
  width: 184.79px;
  height: 4.24px;
}
.ellipseDiv,
.groupChild1 {
  background-color: var(--color-white);
  width: 81.38px;
}
.ellipseDiv {
  top: 0;
  left: 72.9px;
  border-radius: 50%;
  box-shadow: 0 0 3.39px rgba(0, 0, 0, 0.35);
  width: 9.32px;
  height: 9.32px;
}
.rectangleContainer {
  position: relative;
  width: 184.79px;
  height: 9.32px;
}
.vectorIcon12 {
  position: absolute;
  height: 40%;
  width: 37.33%;
  top: 29.99%;
  right: 32.33%;
  bottom: 30.01%;
  left: 30.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent5 {
  position: absolute;
  top: 1685.53px;
  left: 663.97px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15.26px;
}
.metaLook {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 600;
}
.metaLookSecItem {
  position: absolute;
  top: 51.63px;
  left: 86.62px;
  border-radius: 3.88px;
  width: 172.75px;
  height: 222.44px;
  object-fit: cover;
}
.groupChild3 {
  border-radius: 1.93px;
  background-color: var(--color-gray-400);
}
.groupChild3,
.rectangleWrapper1,
.vectorIcon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 28.93px;
  height: 27px;
}
.vectorIcon13 {
  height: 6.25%;
  width: 47.83%;
  top: 46.88%;
  right: 27.09%;
  bottom: 46.88%;
  left: 25.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent9 {
  position: relative;
  width: 28.93px;
  height: 27px;
}
.groupChild4,
.groupChild5,
.groupChild6 {
  position: absolute;
  top: 2.03px;
  left: 0;
  border-radius: 142.43px;
  background-color: var(--color-dimgray-100);
  width: 147.15px;
  height: 3.38px;
}
.groupChild5,
.groupChild6 {
  background-color: var(--color-white);
  width: 64.8px;
}
.groupChild6 {
  top: 0;
  left: 58.05px;
  border-radius: 50%;
  box-shadow: 0 0 2.7px rgba(0, 0, 0, 0.35);
  width: 7.43px;
  height: 7.43px;
}
.rectangleParent1 {
  position: relative;
  width: 147.15px;
  height: 7.43px;
}
.vectorIcon14 {
  position: absolute;
  height: 40%;
  width: 37.33%;
  top: 30%;
  right: 32.34%;
  bottom: 30%;
  left: 30.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent8 {
  position: absolute;
  top: 280px;
  left: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12.15px;
}
.metaLookSec {
  position: absolute;
  top: 1172px;
  left: 200px;
  width: 345px;
  height: 320px;
  font-size: var(--font-size-xl);
}
.logo1 {
  position: absolute;
  top: 27.72%;
  left: 3.54%;
  font-size: var(--font-size-17xl);
  font-family: var(--font-roboto);
  color: var(--color-slateblue);
}
.home,
.personalCollection {
  position: absolute;
  top: 41px;
  left: 570.5px;
  font-weight: 600;
}
.personalCollection {
  left: 760.5px;
}
.searchBarChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-165xl);
  border: 0.5px solid var(--color-gray-300);
  box-sizing: border-box;
}
.vectorIcon15 {
  position: absolute;
  height: 43.75%;
  width: 5.87%;
  top: 29.17%;
  right: 89.94%;
  bottom: 27.08%;
  left: 4.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.searchItemsFashion {
  position: absolute;
  top: 33.33%;
  left: 14.25%;
  letter-spacing: 0.03em;
}
.searchBar {
  position: absolute;
  height: 47.52%;
  width: 24.86%;
  top: 25.74%;
  right: 63.19%;
  bottom: 26.73%;
  left: 11.94%;
  font-size: var(--font-size-sm);
}
.headerChild,
.vectorIcon16 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.headerChild {
  height: 43.56%;
  width: 3.06%;
  top: 28.71%;
  right: 2.22%;
  bottom: 27.72%;
  left: 94.72%;
  border-radius: 50%;
  object-fit: cover;
}
.vectorIcon16 {
  height: 8.72%;
  width: 0.93%;
  top: 45.54%;
  right: 5.99%;
  bottom: 45.73%;
  left: 93.08%;
  border-radius: var(--br-12xs-3);
}
.headerItem {
  position: absolute;
  height: 1.98%;
  width: 2.99%;
  top: 61.39%;
  right: 56.94%;
  bottom: 36.63%;
  left: 40.07%;
  border-radius: var(--br-7xs);
  background: linear-gradient(214.02deg, #b75cff, #671ae4);
  display: none;
}
.explore {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.vectorIcon17 {
  position: absolute;
  height: 31.58%;
  width: 15.04%;
  top: 39.47%;
  right: -0.75%;
  bottom: 28.95%;
  left: 85.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.exploreParent,
.headerInner {
  position: absolute;
  top: 41px;
  left: 653.5px;
  width: 66.5px;
  height: 19px;
}
.headerInner {
  height: 20.79%;
  width: 3.96%;
  top: 39.6%;
  right: 16.88%;
  bottom: 39.6%;
  left: 79.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.drops {
  position: absolute;
  top: 41px;
  left: 938px;
  font-weight: 600;
}
.vectorIcon18 {
  position: absolute;
  height: 31.58%;
  width: 19.61%;
  top: 44.74%;
  right: -0.98%;
  bottom: 23.68%;
  left: 81.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.moreParent {
  position: absolute;
  top: 41px;
  left: 1021px;
  width: 51px;
  height: 19px;
}
.wallet {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.walletWrapper {
  position: absolute;
  top: 32px;
  left: 1217px;
  border-radius: var(--br-8xs);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 108px;
  height: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 101px;
}
.shows,
.stats {
  position: absolute;
  top: 15px;
  left: 15px;
}
.shows {
  top: 52px;
}
.aboutUs,
.community,
.creatorStudio {
  position: absolute;
  top: 89px;
  left: 15px;
}
.community,
.creatorStudio {
  top: 128px;
}
.creatorStudio {
  top: 165px;
}
.editProfile2,
.setting,
.setting1 {
  position: absolute;
  top: 202px;
  left: 15px;
}
.setting,
.setting1 {
  top: 239px;
}
.setting1 {
  top: 19579px;
  left: 86px;
}
.dropDownopenChild,
.dropDownopenChild1,
.dropDownopenChild2,
.dropDownopenInner,
.dropDownopenItem,
.lineDiv {
  position: absolute;
  top: 41.75px;
  left: 14.75px;
  border-top: 0.5px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 161.5px;
  height: 0.5px;
}
.dropDownopenChild1,
.dropDownopenChild2,
.dropDownopenInner,
.dropDownopenItem,
.lineDiv {
  top: 78.75px;
}
.dropDownopenChild1,
.dropDownopenChild2,
.dropDownopenInner,
.lineDiv {
  top: 117.75px;
}
.dropDownopenChild1,
.dropDownopenChild2,
.lineDiv {
  top: 154.75px;
}
.dropDownopenChild1,
.dropDownopenChild2 {
  top: 191.75px;
}
.dropDownopenChild2 {
  top: 228.75px;
}
.dropDownopen {
  position: absolute;
  top: 70px;
  left: 1014.5px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
  width: 189px;
  height: 269px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.editProfilePage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2468px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-sf-pro-display);
}
